extends ../layout

block content
    h1 Edit room
    form(action="/rooms/edit/"+rooms._id, method="post")
        .form-group
            label(for="name") Name
            input#name(type="text", class="form-control", name="name", value=rooms.name)
        .form-group
            label(for="persons") Person(s)
            input(type="number", class="form-control", name="persons", value=rooms.persons)
        .form-group
            label(for="stay") Days of Stay
            input(type="Number", class="form-control", name="stay", value=rooms.stay)
        .form-group
            label(for="location") Location
            input(type="Text", class="form-control", name="location", value=rooms.location)
        
        input(type="submit", class="btn btn-info")
    