extends layout


block content


 .container
  .about-section
  h1#ab1 About Us Page
  p#abp
    | Mana Hotels is a venture of Sheevam Group of Companies (www.sheevam.in). Our goal is to set up budget boutique hotels in locations that offer something unique. Our young management aims to provide offbeat experiences that redefine luxury.
  p#abp
    | Mana Hotels has strong design philosophy and we believe in a democratic method of design. As in politics, a democratic design is one that is for the user and by the user. We achieve this by interacting with the user during design phase of our hotels and incorporating elements that are influenced or inspired by the intended user
  p#abp
    | Mana Hotels is fully committed to being environmentally and socially conscious. We follow sustainable practices, use energy efficient designs and are adaptable during the construction phase to ensure that we fulfill our responsibility towards the environment. We believe in creating ventures that generate employment for the local communities and have vowed to have at least 50% of the work force from the local areas in the future as well!
  p#abp
    | Mana at Ranakpur is a 49 room boutique resort spread over an area of 3.5 acres on the banks of a seasonal river. Surrounded by the majestic Aravallis, it is an oasis in the desert state of Rajasthan located just 90 km from Udaipur. The Ranakpur Jain Temple &amp; Kumbhalgarh Fort are the primary tourist attractions located in the vicinity of the best hotel in Ranakpur. From history to adventure and religion to leisure, Ranakpur offers experiences for one and all. Thanks to the efforts of our team, we have won countless awards for our service and design making us one of the best resorts in Rajasthan for leisure, weddings &amp; corporate travel.
 div
  h2#ab2 Our Team
  ul
    li#abli   
      | Romesa Ramzan
    li#abli
      | Abdullah Sheikh  
 include ./foot

