extends layout 

block content 

    h1 Explore Ranakpur
    hr
    img(src='./images/camel.jpg' width='100%')
    .col-lg-12.col-md-12.col-sm-12.sub-part.sub-boxa23(style='display: block;')
    h2 ABOUT
    h3 Camel Charisma
    .border-img
        ul
        li
            img(src='https://www.manahotels.in/public/front/images/icon13.png' alt='#')
            |  20 Minutes Drive
        br
        li
            img(src='https://www.manahotels.in/public/front/images/icon14.png' alt='#')
            img(src='https://www.manahotels.in/public/front/images/icon15.png' alt='#')
            |  Culture
    hr
    br
    .para
        p
        | Mana Hotels is pleased to share with you yet another novel experience in the culturally rich region of Ranakpur - Cottage Industry Visit in collaboration with Camel Charisma.
        br
        p
        | Camel Chrisma is a social enterprise that seeks to develop, promote and market environment friendly rooms from the camel, with the purpose of saving this unique desert animal from extinction. Mana Hotels, invites its guests to see how Camel Charisma is making ecological and trendy rooms while at the same time promoting the interests of the rural men &amp; women in isolated villages.
        br
        p
        | This experience is the first real attempt at responsible tourism in this part of Rajasthan and Mana Hotels is proud to be associated with Camel Charisma in this endeavour.
    h3
        | Itinerary
    ul
        li
        | Leave Mana Hotels Ranakpur by car to the Camel Cart Rendezvous   point. The distance is approximately 6 km
        li
        | Complete last 1 km of the journey on a camel cart and arrive at the Camel Charisma Workshop
        br
        p
        | Learn how camel by-products such as camel dung, hair and milk are converted into environment friends products such as paper, woolen items, soaps &amp; ice creams
