block content
 .container#foot
    div#f11
        ul#f1
            li
                a(href='https://maps.google.com/') Plot No. 4677, Ranakpur Road, Sadari, Pali - 306702, Rajasthan
            li
                a(href='https://maps.google.com/') Nearest Airport, Maharana Pratap, Udaipur 120 kms
            li
                a(href='https://maps.google.com/') Distance from Major Cities Udaipur 95 kms | Jodhpur 180 kms | Jaipur 394 kms
            li
                a(href='https://maps.google.com/') Nearest Railway Station Falna Railway Station Delhi 613 kms | Mumbai 816 kms
        
    div#f12
        img(src='./images/footer.png')
        br
        br
        ul#f2
            li
                a(href='https://www.facebook.com/ManaHotels') Facebook
                img(src='https://img.icons8.com/fluency/48/000000/facebook-new.png') 
            li
                a(href='https://www.instagram.com/manahotel/') Instagram
                img(src='https://img.icons8.com/color/48/000000/instagram-new--v1.png') 
            br
            li
                a(href='/aboutus') About Us
            li
                a(href='#!') Careers
            li
                a(href='#!') Contact Us
            li
                a(href='#!') Facts    
p#f3| © 2020 Mana Hotels. All Rights Reserved.