extends layout 

block content 

    h1 Explore Ranakpur
    hr
    img(src='./images/golden.jpg' width='100%')
    .col-lg-12.col-md-12.col-sm-12.sub-part.sub-boxa23(style='display: block;')
    h2 ABOUT
    h3 Ranakpur Jain Temple
    .border-img
        ul
        li
            img(src='https://www.manahotels.in/public/front/images/icon13.png' alt='#')
            |  45 Minutes Drive
        br
        li
            img(src='https://www.manahotels.in/public/front/images/icon14.png' alt='#')
            img(src='https://www.manahotels.in/public/front/images/icon15.png' alt='#')
            |  Religion
    hr
    br
    .para
        p
        | Located 31 kms from Mana Hotel Ranakpur, is the first golden temple built by the Jain Community in India.
        br
        p
        | The main specialty of the temple is that its entire structure, including all the walls, roofs, pillars, doors, windows, steps, domes and shikhar are all painted with a thick layer of gold. It is said that the women from Jain families of the surrounding areas, spared their gold ornaments and donated the same to temple authorities for construction of this golden temple
        br
        p
        | Mana Hotel recommends that the guests enjoy this hidden treasure in the early morning or in evening time.
    h3 Key Facts
    ul
        li Structure painted in Gold
        li 2000 year old statue
        li 33 yr old temple
        li Total area &ndash; 50,000 sq feet
        li Dedicated to Lord Shankheshwar Parshwanath
        li 30 minute drive from Mana Hotels
    h3 Timings
    ul
        li Darshan Time: 5:00 AM to 9:30 PM
        li Aarti Time: 8:00 AM to 7:00 PM
        div
