extends layout 

block content 

    h1 Explore Ranakpur
    hr
    img(src='./images/heri.jpg' width='100%')
    .col-lg-12.col-md-12.col-sm-12.sub-part.sub-boxa23(style='display: block;')
    h2 ABOUT
    h3 Heritage Rain Journey
    .border-img
        ul
        li
            img(src='https://www.manahotels.in/public/front/images/icon13.png' alt='#')
            |  4 hours Drive
        br
        li
            img(src='https://www.manahotels.in/public/front/images/icon14.png' alt='#')
            img(src='https://www.manahotels.in/public/front/images/icon15.png' alt='#')
            |  History
    hr
    br
    .para
        p
        | Located about 2 hours from Mana Hotels in Ranakpur, is a wonderful hidden train journey. Originating from Phulad station and terminating at Khambli Ghat station, this 1.5 hour journey gives the passengers a peak into the history of this area aside from offering great views of the Aravallis. If you are lucky, you may even spot some wildlife such as Langoors, Peacocks and Deer&apos;s. This is a meter gauge line and also one of the highest tracks in the western railway system of India. The landscape is dramatic and does not stay constant. There is a good mix of steep hills, flowing water and plains. All in all a picturesque journey through a relatively unexplored part of Rajasthan.
    h3
        | Itinerary
    ul
        li 12:30 p.m. Leave Mana Ranakpur by car.
        li
        | 2:30 p.m. Arrive at Phulad station and enjoy sites of the old equipment and construction.
        li
        | 3:00 p.m. Watch the train arrive. Upon arrival, the engine attaches from the opposite end to commence the journey.
        li
        | 3:15 p.m. Board the train for Khambli Ghat. Enjoy the slow pace of the journey while enjoying spectacular views of the Aravallis and more
        li
        | 4:30 p.m. Reach Khambli Ghat station where your vehicle can pick you up for the onward journey.


