extends layout 
block content

    h1 Explore Ranakpur
    hr
    img(src='./images/tem1.jpg' width='100%')
    .col-lg-12.col-md-12.col-sm-12.sub-part.sub-boxa23(style='display: block;')
    h2 ABOUT
    h3 Ranakpur Jain Temple
    .border-img
        ul
        li
            img(src='https://www.manahotels.in/public/front/images/icon13.png' alt='#')
            |  5 Minutes Drive
        br
        li
            img(src='https://www.manahotels.in/public/front/images/icon14.png' alt='#')
            img(src='https://www.manahotels.in/public/front/images/icon15.png' alt='#')
            |  Religion
    hr
    br
    .para
        p
        | Mana Hotels is a 5-minute drive from one of the five most important pilgrimage sites of Jainism. Although there are a several hotels in Ranakpur near the Jain temple, Mana Ranakpur offers affordable luxury to its clientele.
        br
        p
        | Apart from the religious importance, of this temple, its 1,444 unique handcrafted marble make it an architectural marvel. The temple is in the form of a celestial aircraft and its sheer size will astound you.
        br
        p
        | The evening prayers carried out in candlelight with two 108 kg bells played in synchronization, offering a unique experience to the visitors for ultimate peace of the mind and the body. Many people are surprised to know that the Jain Temple, Ranakpur, Rajasthan is an environmentally conscious institution and houses a sewage treatment plant. The recycled water from this plant is used for watering the lush landscape in the temple complex.
    h3 Key Facts
    ul
        li 1,444 Unique Columns
        li 29 Halls
        li 80 domes
        li Built in the 15th Century over 65 years
        li Total area &ndash; 50,000 sq feet
        li Dedicated to Lord Adinath
        li 5 minute drive from Mana Hotels
    div
        h5 T&amp;C&apos;s
        p Photography is allowed between 12:00 noon and 5:00 p.m. only.
        p
        | While visiting the temple, shorts, sleeveless shirts, skirts or short dresses should be avoided. Guests wearing such clothing will be refused entry into the temple.
        p
        | Any leather item is not permitted inside the temple. This includes but is not limited to Belts, Wallets, Bags etc.
        p
        | The Ranakpur Jain Temple is a place of worship. Proper decorum must be maintained by the guests visiting the temple at all times.
        p
        | We urge the guests to keep the temple complex clean. Waste bins are placed at multiple locations in case you have to dispose off any garbage.
        p Do not feed any animals in the temple complex for your own safety.
    