extends layout 

block content 

    h1 Explore Ranakpur
    hr
    img(src='./images/sun.jpg' width='100%')
    .col-lg-12.col-md-12.col-sm-12.sub-part.sub-boxa23(style='display: block;')
    h2 ABOUT
    h3 Sun Temple, Ranakpur
    .border-img
        ul
        li
            img(src='https://www.manahotels.in/public/front/images/icon13.png' alt='#')
            |  5 minutes Drive
        br
        li
            img(src='https://www.manahotels.in/public/front/images/icon14.png' alt='#')
            img(src='https://www.manahotels.in/public/front/images/icon15.png' alt='#')
            |  Religion
    hr
    br
    .para
        p
        | Though often dwarfed by the immense beauty and size of the Ranakpur Jain Temple dedicated to the first Jain Tirthankar, Sri Adinath; there is an ancient Sun Temple housed within the same temple complex. This temple is dated back to the 8th century and has a similar structure and appearance to the bigger temple. Its walls are also intricately carved with warriors, heroes and the Sun God in his magnificent stallion driven chariot.
        br
        p
        | A more recent development at this temple has been the construction of an open air amphitheater. The Godwad Festival during the month of December takes place at this venue
        br
        p
        | The sun god is especially worshiped on the day of &lsquo;Makara Sankranthi&rsquo; which falls sometimes in the month of January. It goes without saying that a visit to the Sun Temple at Ranakpur on this day would be worth your while.
