extends layout 

block content

    h1 Explore Ranakpur
    hr
    img(src='./images/unseen.jpg' width='100%')
    .col-lg-12.col-md-12.col-sm-12.sub-part.sub-boxa23(style='display: block;')
    h2 ABOUT
    h3 Unseen Rajasthan
    .border-img
        ul
        li
            img(src='https://www.manahotels.in/public/front/images/icon13.png' alt='#')
            |  1 hour Drive
        br
        li
            img(src='https://www.manahotels.in/public/front/images/icon14.png' alt='#')
            img(src='https://www.manahotels.in/public/front/images/icon15.png' alt='#')
            |  History
    hr
    br
    .para
        p
        | The area around Ranakpur is home to some incredible sites reminiscent of the bygone era&rsquo;s. Old Rawla&rsquo;s, Step wells &amp; temples dote the area in a radius of 35 km.
        br
        h5
        | Rawla Ghanerao:
        p
        | The white walled structure with red stone carvings of the Rawla will transport you into a charming world of lost royalty and decaying traditions of the noble Rajasthani families. On the surface, the white of the walls is blackened in most places, the structure breaking away in parts but it continues to be home to the lineage of the royal family, once the thakurs of 48 villages around the fort and called the Raja of the Godwar region. Their lifestyle is still reminiscent of the olden days of glory, only sans the hustle and bustle of stately affairs.
        br
        p This castle is located just 15 km from Mana Ranakpur
        br
        h5
        | Step Wells of Nadhol:
        p
        | Step wells or &lsquo;Baori&rsquo;s&rsquo; are scattered throughout Rajasthan given the seasonal nature of rains. However, the step wells of Nadhol have escaped the limelight till now. This small town located 30 km from Mana Ranakpur is home to about half a dozen step wells of different depths.
        br
        h5 Temple town of Narlai:
        p
        | Located about 35 km from Mana Ranakpur, Narlai lies at a base of a hillock crowned by a colossal statue of an elephant. With temples of almost all Hindu God&rsquo;s, it is believed that Narlai is the birth place of Narad Muni.
